VAPID_SUBJECT=mailto:contact@winess.fr
VAPID_PUBLIC_KEY=colle_ici_la_cle_publique
VAPID_PRIVATE_KEY=colle_ici_la_cle_privee

# Notifications natives iPhone Capacitor / Apple Push Notification service
APNS_KEY_ID=colle_ici_le_key_id_apple
APNS_TEAM_ID=colle_ici_le_team_id_apple
APNS_BUNDLE_ID=fr.winesshub.app
APNS_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nCOLLE_ICI_LA_CLE_P8\n-----END PRIVATE KEY-----"
APNS_USE_SANDBOX=true
